<section class="annonces padding-top-60 padding-bottom-120">
    <div class="container-fluid maxwidth">
        <div class="padding-top-80">
            <div class="">
                {{ rows }}
            </div>
        </div>
        {{ pager }}
    </div>
</section>

