<div id="sidebar-admin">
    <div class="bg" style="{{ colors }}">
        <a href="/" title="Accueil" rel="home" id="logo">
            <img src="/modules/custom/adminimal_gazoline/img/logo_gazoline.png" alt="Accueil">
        </a>
    </div>
    <div>
        {{ menu|raw }}
    </div>
</div>