<!-- HEADER -->
  <div class="container-fluid maxwidth flex align-items-start  space-between align bg-black mobile-center" data-aos="fade-down" data-aos-delay="0">
    <a class="tel size14" href="tel:0033499647270">04 99 64 72 70</a>
    <div class="logos flex column">
      <!-- Logo -->
      <a href="index.html" class="logo" data-aos="fade-up" data-aos-delay="400">
        <img src="/themes/custom/color_vintage/img/svg/logo.svg" alt="Logo###">
      </a>
      <!-- / Logo -->
      <!-- Logo -->
      <a href="index.html" class="logo_small" data-aos="fade-up" data-aos-delay="400">

        <img src="/themes/custom/color_vintage/img/svg/logo_small.svg" alt="Logo###" >

      </a>
      <!-- / Logo -->
    </div>
    <div class="flex">
      <a class="connexion" href="##" data-bs-toggle="modal" data-bs-target="#connexion">Connexion</a>
      <a href="##" class="compte">Mon compte</a>
      <!-- Burger -->
      <div class="menu-btn menu-burger wrap-burger" id="burger-menu">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- / Burger -->
    </div>
  </div>
  <div class="top-header">
    <div class="container-fluid maxwidth flex column space-between align" data-aos="fade-down" data-aos-delay="">

      <div class="navbar">
        <div class="navbarheader">
          <!-- Menu -->
          <ul class="menu">
            <li><a href="##">A propos de<br>color&nbsp;vintage</a></li>
            <li><a href="##">Pourquoi choisir<br>nos&nbsp;formations&nbsp;?</a></li>
            <li><a href="##">Agenda<br>des&nbsp;formations</a></li>
            <li><a href="##">Nos<br>formations</a></li>
            <li><a href="##">Financer<br>votre&nbsp;formation</a></li>
            <li><a href="##">Nos kits<br>professionnels</a></li>
            <li><a href="##">nos<br>Témoignages</a></li>
            <li><a href="##">Rejoignez<br>color&nbsp;vintage</a></li>
            <li><a href="##">Actualités &<br>conseils&nbsp;beauté</a></li>

          </ul>
          <!-- /Menu -->
        </div>
      </div>


    </div>

  </div>
<!-- / HEADER -->

<br>
<br>
<br>
