<br>
<br>
<br>
<!-- Footer -->
  <div class="container-fluid maxwidth">
    <div class="row">
      <div class="col-md-12 text-center margin-auto">
        <!-- Logo -->
        <object type="image/svg+xml" data="sample.svg">
          <img src="/themes/custom/color_vintage/img/svg/logo.svg" alt="Logo###" width="220px">
        </object>
        <span class="white margin-top-10 slogan">CENTRE DE FORMATION ESTHÉTIQUE</span>
        <!-- / Logo -->
      </div>
      <div class="row margin-top-100  margin-bottom-40">
        <div class="col-md-3">
          <!-- Menu footer-->
          <ul class="menu-footer">
            <li>	<a class="tel size14" href="tel:0033499647270">04 99 64 72 70</a></li>
            <li><a class="map" href="##">165, rue Roland Garros<br>34130 Mauguio</a></li>
          </ul>
          <!-- /Menu -->
        </div>
        <div class="col-md-3">
          <!-- Menu footer-->
          <ul class="menu-footer">
            <li><a href="##">à propos de color vintage</a></li>
            <li><a href="##">Pourquoi choisir nos formations</a></li>
            <li><a href="##">Agenda des formations</a></li>
            <li><a href="##">S’inscrire à une formation</a></li>

          </ul>
          <!-- /Menu -->
        </div>
        <div class="col-md-3">
          <!-- Menu footer-->
          <ul class="menu-footer">
            <li><a href="##">Financer votre formation</a></li>
            <li><a href="##">Nos kits professionnels</a></li>
            <li><a href="##">Les témoignages</a></li>
            <li><a href="##">Nos actualités et conseils beauté</a></li>
          </ul>
          <!-- /Menu -->
        </div>
        <div class="col-md-3">
          <!-- Menu footer-->
          <ul class="menu-footer">
            <li><a href="##">Rejoindre color vintage</a></li>
            <li><a href="##">Nous contacter</a></li>
            <li><a href="##">FAQ</a></li>
          </ul>
          <!-- /Menu -->
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-container bg-black-grey margin-top-60 padding-bottom-10">
    <div class="container-fluid maxwidth">
      <div class="row">
        <div class="col-md-6">
          <div class="txt-left">
            <ul class="flex copyright-footer">
              <li><a href="#">Plan de site</a></li>
              <li><a href="#">Politique de confidentialité</a></li>
              <li><a href="#">CGV</a></li>
              <li><a href="#">Mentions légale</a></li>
            </ul>

          </div>
        </div>
        <div class="col-md-6">
          <div class="an_copyright txt-center relative">
            <a href="#">© 2021 - colorvintageformation.fr - </a><a href="https://studiogazoline.com" target="_blank" alt="Studio Gazoline Montpellier">Design par Agence de communication Montpellier <img src="/themes/custom/color_vintage/img/svg/studiogazoline.svg" class="img-gaz"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- / Footer -->

