<section class="bg-kit bg-black2"  data-aos="fade" data-aos-delay="" style="background-image: url(/themes/custom/color_vintage/img/kit_bg.jpeg)">
    <div class="container maxwidth ">
        <div class="container-fluid maxwidth padding-top-120 padding-bottom-120">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="lora size30 uppercase black bold-font margin-bottom-30 block" data-aos="fade-down" data-aos-delay="200">{{ nos_kits_prof.title }}</h2>
                    <div class="black margin-bottom-30" data-aos="fade-down" data-aos-delay="250" >{{ nos_kits_prof.description|raw }}</div>
                    <span data-aos="fade-down" data-aos-delay="300">
						<a href="{{nos_kits_prof.link.uri}}" class="btn">Découvrir la boutique</a>
					</span>
                </div>
            </div>
        </div>
    </div>
</section>