<div class="content-page">

        <!-- Affaires -->
        <div class="bg-white full-sb blue-b">
            
            <!-- Liste affaire logo -->
            <div class="padding30 bg-light-grey">
                <table class="tablesaw">
                    <div class="thead flex space-between blue border-b">
                        <p><strong>CR N°00</strong></p>
                        <p>Date</p>
                        <p>Lieu de la réunion</p>
                    </div>
                    <tbody>
                        <tr>
                            <td>
                                <p class="uppercase bold-font"><strong>Nom de l'affaire</strong></p>
                                <p>Numéro pythagore</p>
                            </td>
                            <td>
                                <div class="flex align">
                                    <img class="logo-max-1 margin-right-20" src="img/logo-gaxieu.png" alt="">
                                    <strong>Nom maître d'ouvrage</strong>
                                </div>
                            </td>
                            <td>
                                <div class="flex align">
                                    <img class="logo-max-1 margin-right-20" src="img/logo-g.png" alt="">
                                    <div>
                                        <p><strong>Agence rattachée à cette affaire</strong></p>
                                    </div>
                                </div>
                            </td>
                        </tr>  
                        <tr>
                            <td>
                                <p class="uppercase bold-font"><strong>Nom de l'affaire</strong></p>
                                <p>Numéro pythagore</p>
                            </td>
                            <td>
                                <div class="flex align">
                                    <img class="logo-max-1 margin-right-20" src="img/logo-gaxieu.png" alt="">
                                    <strong>Nom maître d'ouvrage</strong>
                                </div>
                            </td>
                            <td>
                                <div class="flex align">
                                    <img class="logo-max-1 margin-right-20" src="img/logo-g.png" alt="">
                                    <div>
                                        <p><strong>Agence rattachée à cette affaire</strong></p>
                                    </div>
                                </div>
                            </td>
                        </tr>  
                        <tr>
                            <td>
                                <p class="uppercase bold-font"><strong>Nom de l'affaire</strong></p>
                                <p>Numéro pythagore</p>
                            </td>
                            <td>
                                <div class="flex align">
                                    <img class="logo-max-1 margin-right-20" src="img/logo-gaxieu.png" alt="">
                                    <strong>Nom maître d'ouvrage</strong>
                                </div>
                            </td>
                            <td>
                                <div class="flex align">
                                    <img class="logo-max-1 margin-right-20" src="img/logo-g.png" alt="">
                                    <div>
                                        <p><strong>Agence rattachée à cette affaire</strong></p>
                                    </div>
                                </div>
                            </td>
                        </tr>  
                    </tbody>
                </table>
            </div>
            <!-- / Liste affaire logo -->
  
          

            <!-- Liste de présence -->
            <div class="margin-left-30">
                <div class="table-title"><span>Liste de présence</span></div>

                <!-- Accordion -->
                <div class="accordion-wrapp">
                        
                    <!-- Niveau 1 -->
                    <div class="collapse">
                        <!-- Nom affaire 1 -->
                        <div class="accordion-toggle blue">Nom affaire 1 <i class="arrow" data-collapse="#lot-1"></i></div>
                        <div class="accordion-content" id="lot-1">

                            <div class="table-small-title"><span>Intervenants et contacts de l'affaire</span></div>
                            <!-- Groupe -->
                            <table class="tablesaw groupe border-b margin-top-10">
                                <thead>
                                    <tr>
                                        <td><strong>Raison sociale<strong></td>
                                        <td>Catégorie</td>
                                        <td>Téléphone standard</td>
                                        <td>Mail standard</td>
                                        <td></td>
                                    </tr>  
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>Nom prénom<strong></td>
                                        <td>Titre / Fonction</td>
                                        <td class="double-info"><span>Téléphone fixe</span> <span>Téléphone standard</span></td>
                                        <td>Mail</td>
                                        <td>Absent</td>
                                    </tr>  
                                    <tr>
                                        <td><strong>Nom prénom<strong></td>
                                        <td>Titre / Fonction</td>
                                        <td class="double-info"><span>Téléphone fixe</span> <span>Téléphone standard</span></td>
                                        <td>Mail</td>
                                        <td>Présent</td>
                                    </tr>  
                                </tbody>
                            </table>
                            <!-- / Groupe -->
                            <!-- Groupe -->
                            <table class="tablesaw groupe margin-top-20">
                                <thead>
                                    <tr>
                                        <td><strong>Raison sociale<strong></td>
                                        <td>Catégorie</td>
                                        <td>Téléphone standard</td>
                                        <td>Mail standard</td>
                                        <td></td>
                                    </tr>  
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>Nom prénom<strong></td>
                                        <td>Titre / Fonction</td>
                                        <td class="double-info"><span>Téléphone fixe</span> <span>Téléphone standard</span></td>
                                        <td>Mail</td>
                                        <td>Absent</td>
                                    </tr>  
                                    <tr>
                                        <td><strong>Nom prénom<strong></td>
                                        <td>Titre / Fonction</td>
                                        <td class="double-info"><span>Téléphone fixe</span> <span>Téléphone standard</span></td>
                                        <td>Mail</td>
                                        <td>Absent</td>
                                    </tr>  
                                </tbody>
                            </table>
                            <!-- / Groupe -->



                            <div class="table-small-title"><span>Rédacteurs</span></div>
                            <!-- Groupe -->
                            <table class="tablesaw groupe margin-top-10">
                                <tbody>
                                    <tr>
                                        <td><strong>Nom<strong></td>
                                        <td>Type</td>
                                        <td>Téléphone standard</td>
                                        <td>Mail</td>
                                        <td>Présent</td>
                                    </tr>  
                                    <tr>
                                        <td><strong>Nom<strong></td>
                                        <td>Type</td>
                                        <td>Téléphone standard</td>
                                        <td>Mail</td>
                                        <td>Présent</td>
                                    </tr>  
                                </tbody>
                            </table>
                            <!-- / Groupe -->


                            <div class="table-small-title"><span>Intervants et contacts de chaque lot</span></div>
                            <!-- Niveau 2 -->
                            <div class="collapse">
                                <div class="accordion-toggle">Lot 1 <i class="arrow" data-collapse="#lot-1-1"></i></div>
                                <div class="accordion-content" id="lot-1-1">
                                    <!-- Groupe -->
                                    <table class="tablesaw groupe border-b margin-top-10">
                                        <thead>
                                            <tr>
                                                <td><strong>Raison sociale<strong></td>
                                                <td>Catégorie</td>
                                                <td>Téléphone standard</td>
                                                <td>Mail standard</td>
                                                <td></td>
                                            </tr>  
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><strong>Nom prénom<strong></td>
                                                <td>Titre / Fonction</td>
                                                <td class="double-info"><span>Téléphone fixe</span> <span>Téléphone standard</span></td>
                                                <td>Mail</td>
                                                <td>Absent</td>
                                            </tr>  
                                            <tr>
                                                <td><strong>Nom prénom<strong></td>
                                                <td>Titre / Fonction</td>
                                                <td class="double-info"><span>Téléphone fixe</span> <span>Téléphone standard</span></td>
                                                <td>Mail</td>
                                                <td>Présent</td>
                                            </tr>  
                                        </tbody>
                                    </table>
                                    <!-- / Groupe -->
                                    <!-- Groupe -->
                                    <table class="tablesaw groupe margin-top-20">
                                        <thead>
                                            <tr>
                                                <td><strong>Raison sociale<strong></td>
                                                <td>Catégorie</td>
                                                <td>Téléphone standard</td>
                                                <td>Mail standard</td>
                                                <td></td>
                                            </tr>  
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><strong>Nom prénom<strong></td>
                                                <td>Titre / Fonction</td>
                                                <td class="double-info"><span>Téléphone fixe</span> <span>Téléphone standard</span></td>
                                                <td>Mail</td>
                                                <td>Absent</td>
                                            </tr>  
                                            <tr>
                                                <td><strong>Nom prénom<strong></td>
                                                <td>Titre / Fonction</td>
                                                <td class="double-info"><span>Téléphone fixe</span> <span>Téléphone standard</span></td>
                                                <td>Mail</td>
                                                <td>Absent</td>
                                            </tr>  
                                        </tbody>
                                    </table>
                                    <!-- / Groupe -->
                                </div>
                            </div>
                            <!-- / Niveau 2 --> 

                        </div>
                        <!-- / Nom affaire 1 -->

                        <!-- Nom affaire 2 -->
                        <div class="accordion-toggle blue">Nom affaire 2 <i class="arrow" data-collapse="#lot-2"></i></div>
                        <div class="accordion-content" id="lot-2">
                            <!-- Groupe -->
                            <table class="tablesaw groupe border-b margin-top-10">
                                <thead>
                                    <tr>
                                        <td><strong>Raison sociale<strong></td>
                                        <td>Catégorie</td>
                                        <td>Téléphone standard</td>
                                        <td>Mail standard</td>
                                        <td></td>
                                    </tr>  
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>Nom prénom<strong></td>
                                        <td>Titre / Fonction</td>
                                        <td class="double-info"><span>Téléphone fixe</span> <span>Téléphone standard</span></td>
                                        <td>Mail</td>
                                        <td>Absent</td>
                                    </tr>  
                                    <tr>
                                        <td><strong>Nom prénom<strong></td>
                                        <td>Titre / Fonction</td>
                                        <td class="double-info"><span>Téléphone fixe</span> <span>Téléphone standard</span></td>
                                        <td>Mail</td>
                                        <td>Présent</td>
                                    </tr>  
                                </tbody>
                            </table>
                            <!-- / Groupe -->
                        </div>
                        <!-- / Nom affaire 2 -->
                        <!-- Nom affaire 3 -->
                        <div class="accordion-toggle blue">Nom affaire 3 <i class="arrow" data-collapse="#lot-3"></i></div>
                        <div class="accordion-content" id="lot-3">
                            <!-- Groupe -->
                            <table class="tablesaw groupe border-b margin-top-10">
                                <thead>
                                    <tr>
                                        <td><strong>Raison sociale<strong></td>
                                        <td>Catégorie</td>
                                        <td>Téléphone standard</td>
                                        <td>Mail standard</td>
                                        <td></td>
                                    </tr>  
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>Nom prénom<strong></td>
                                        <td>Titre / Fonction</td>
                                        <td class="double-info"><span>Téléphone fixe</span> <span>Téléphone standard</span></td>
                                        <td>Mail</td>
                                        <td>Absent</td>
                                    </tr>  
                                    <tr>
                                        <td><strong>Nom prénom<strong></td>
                                        <td>Titre / Fonction</td>
                                        <td class="double-info"><span>Téléphone fixe</span> <span>Téléphone standard</span></td>
                                        <td>Mail</td>
                                        <td>Présent</td>
                                    </tr>  
                                </tbody>
                            </table>
                            <!-- / Groupe -->
                        </div>
                        <!-- / Nom affaire 3 -->
                    </div>
                    <!-- / Niveau 1 -->
                    
                </div>
                <!-- Accordion -->
 
            </div>
            <!-- Liste de présence -->
 

            <!-- Prochain rendez-vous -->
            <div class="table-title-bg-grey">
                <div class="table-title"><span>Prochain rendez-vous</span></div>
                <table class="tablesaw groupe margin-top-10">
                    <tbody>
                        <tr>
                            <td><strong>Nom<strong></td>
                            <td>Type</td>
                            <td>Téléphone standard</td>
                            <td>Mail</td>
                            <td>Présent</td>
                        </tr>  
                    </tbody>
                </table>
            </div>
            <!-- / Prochain rendez-vous -->
            
            
            <!-- Tâches -->
            <div class="">
                <div class="table-title margin-left-30"><span>Tâches</span></div>
                <div class="padding30 bg-light-grey margin-top-20">
                    <div class="row">
                        <div class="col-md-5 col-lg-6">
                            <input class="search" type="text" id="aaa" placeholder="Nom intervenant" tabindex="3">
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <select class="slim-select2" id="" tabindex="1">
                                <option>Toutes les affaires</option>
                                <option>Homme</option>
                                <option>Femme</option>
                                <option>Homme</option>
                                <option>Femme</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-lg-2">
                            <button class="btn-blue btn">Filtrer</button>
                        </div>
                    </div>
                </div>

                <!-- Accordion -->
                <div class="accordion-wrapp margin-left-30">
                        
                    <!-- Niveau 1 -->
                    <div class="collapse">
                        <!-- Lot 1 -->
                        <div class="accordion-toggle">Lot n°1 <span class="date">Date de notification <strong>00/00/00</strong></span><i class="arrow" data-collapse="#lot-1-2"></i></div>
                        <div class="accordion-content" id="lot-1-2">

                            <!-- Niveau 2 -->
                            <div class="collapse">
                                <div class="accordion-toggle flex-button"> 
                                    <span>Tranche ferme</span>
                                    <span class="date-br">Date d'arrêt <strong>00/00/00</strong></span>
                                    <span class="date-br">Date de reprise <strong>00/00/00</strong></span>
                                    <span class="date-br">Date de prolongation <strong>00/00/00</strong></span>
                                    <span class="date-br">Date de fin <strong>00/00/00</strong></span>
                                    <span class="progress-bar">75% <span class="bar"><span class="fill green" style="width:75%"></span></span>
                                    <i class="arrow" data-collapse="#tranche-1"></i>
                                </div>
                                <div class="accordion-content" id="tranche-1">
                                    <!-- Niveau 3 -->
                                    <div class="collapse">
                                        <div class="accordion-toggle flex-button"> 
                                            <span>Phase</span>
                                            <i class="arrow" data-collapse="#phase-1"></i>
                                        </div>
                                        <div class="accordion-content" id="phase-1">
                                            <!-- Niveau 4 -->
                                            <div class="collapse">
                                                <div class="accordion-toggle flex-button"> 
                                                    <span>Tâche parent 1</span>
                                                    <i class="arrow" data-collapse="#parent-1"></i>
                                                </div>
                                                <div class="accordion-content" id="parent-1">
                                                    <!-- Niveau 5 -->
                                                    <div class="collapse">
                                                        <div class="accordion-toggle flex-button"> 
                                                            <span>Tâche enfant 1</span>
                                                            <i class="arrow" data-collapse="#enfant-1"></i>
                                                        </div>
                                                        <div class="accordion-content" id="enfant-1">
                                                            <!-- Niveau 6 -->
                                                            <div class="inside ">
                                                                <p class="date">Date de création <strong>00/00/00</strong></p>
                                                                <div class="row">
                                                                    <!-- Informations tache -->
                                                                    <div class="col-md-7 margin-bottom-60  padding-right-30">
                                                                        <div class="margin-top-20">
                                                                            <p class="margin-bottom-5"><strong>Nature de la tâche</strong></p>
                                                                            <p>Non ergo erunt homines deliciis diffluentes audiendi, si quando de amicitia, quam nec usu nec ratione habent cognitam, disputabunt. Nam quis est, pro deorum fidem atque hominum! qui velit, ut neque diligat quemquam nec ipse ab ullo diligatur, circumfluere omnibus copiis atque in omnium rerum abundantia vivere? Haec enim est tyrannorum vita nimirum, in qua nulla fides, nulla caritas, nulla stabilis benevolentiae potest esse fiducia, omnia semper suspecta atque sollicita, nullus locus amicitiae.</p>
                                                                        </div>
                                                                        <div class="margin-top-20">
                                                                            <p class="margin-bottom-5"><strong>Localisation</strong></p>
                                                                            <img src="img/localiation.png" alt="">
                                                                        </div>
                                                                        <div class="margin-top-20">
                                                                            <p class="margin-bottom-5"><strong>Intervenants</strong></p>
                                                                            <table class="tablesaw groupe no-padding">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>Raison sociale</td>
                                                                                        <td>Catégorie</td>
                                                                                    </tr>  
                                                                                    <tr>
                                                                                        <td>Raison sociale</td>
                                                                                        <td>Catégorie</td>
                                                                                    </tr>  
                                                                                    <tr>
                                                                                        <td>Raison sociale</td>
                                                                                        <td>Catégorie</td>
                                                                                    </tr>  
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <div class="margin-top-20">
                                                                            <p class="date">Date d'écheance <strong>00/00/00</strong></p>
                                                                        </div>
                                                                    </div>
                                                                    <!-- / Informations tache -->
                                                                    <!-- Document tache -->
                                                                    <div class="col-md-5 padding-right-30">
                                                                        <div class="row align">
                                                                            <div class="col-lg-4  margin-bottom-20">
                                                                                <p><strong>Document de la tâche</strong></p>
                                                                            </div>
                                                                            <div class="col-lg-7 txt-right margin-bottom-20">
                                                                                <a href="#" class="btn-download btn">Télécharger</a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="thumbnails row">
                                                                            <div class="col-sm-12">
                                                                                <img class="big" src="img/visuel-4.jpg" alt="">
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <img src="img/visuel-4.jpg" alt="">
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <img src="img/visuel-4.jpg" alt="">
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <img src="img/visuel-4.jpg" alt="">
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <img src="img/visuel-4.jpg" alt="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- / Document tache -->
                                                                </div>
                                                            </div>
                                                            <!-- Niveau 6 -->
                                                        </div>
                                                    </div>
                                                    <!-- Niveau 5 -->
                                                </div>
                                            </div>
                                            <!-- / Niveau 4 -->
                                        </div>
                                    </div>
                                    <!-- / Niveau 3 -->
                                </div>
                            </div>
                            <!-- / Niveau 2 --> 

                            <!-- Niveau 2 -->
                            <div class="collapse">
                                <div class="accordion-toggle flex-button"> 
                                    <span>Tranche ferme</span>
                                    <span class="date-br">Date d'arrêt <strong>00/00/00</strong></span>
                                    <span class="date-br">Date de reprise <strong>00/00/00</strong></span>
                                    <span class="date-br">Date de prolongation <strong>00/00/00</strong></span>
                                    <span class="date-br">Date de fin <strong>00/00/00</strong></span>
                                    <span class="progress-bar">100% <span class="bar"><span class="fill red" style="width:105%"></span></span>
                                    <i class="arrow" data-collapse="#tranche-1-3"></i>
                                </div>
                                <div class="accordion-content" id="tranche-1-3">
                                    <div class="inside black">
                                        <strong>Phase</strong>
                                    </div>
                                </div>
                            </div>
                            <!-- / Niveau 2 --> 
                        </div>
                        <!-- / Lot 1 -->
                        <!-- Lot 2 -->
                        <div class="accordion-toggle">Lot n°2 <i class="arrow" data-collapse="#lot-2-2"></i></div>
                        <div class="accordion-content" id="lot-2-2">
                            <!-- Niveau 2 -->
                            <div class="collapse">
                                <div class="accordion-toggle flex-button"> 
                                    <span>Tranche ferme</span>
                                    <span class="tunnel">
                                        <span class="trigger-modal" data-modal="interrompre">Interrompre</span>
                                        <span class="trigger-modal" data-modal="reprendre">Reprendre</span>
                                        <span class="trigger-modal" data-modal="prolonger">Prolonger</span>
                                    </span>
                                    <span class="date">Date de notification <strong>00/00/00</strong></span>
                                    <span class="progress-bar">50% <span class="bar"><span class="fill blue" style="width:50%"></span></span>
                                    <i class="arrow" data-collapse="#tranche-2-2"></i>
                                </div>
                                <div class="accordion-content" id="tranche-2-2">
                                    <div class="inside black">
                                        <strong>Phase</strong>
                                    </div>
                                </div>
                            </div>
                            <!-- / Niveau 2 --> 
                        </div>
                        <!-- / Lot 2 -->
                        <!-- Lot 3 -->
                        <div class="accordion-toggle">Lot n°3 <i class="arrow" data-collapse="#lot-3-2"></i></div>
                        <div class="accordion-content" id="lot-3-2">
                            <div class="inside black">
                                <strong>Phase</strong>
                            </div>
                        </div>
                        <!-- / Lot 3 -->
                    </div>
                    <!-- / Niveau 1 -->
                    
                </div>
                <!-- Accordion -->
 
            </div>
            <!-- Tâches -->

        </div>
        <!-- / Affaires -->
 
 

        <!-- Menu sidebar -->
        <div class="menu-sidebar">
            <ul>
                <li>
                    <a href="#" class="item"><span><img src="img/icon/telecharger.svg" alt="">Télécharger le CR</span></a>
                </li>
                <li>
                    <a href="#" class="item"><span><img src="img/icon/voir.svg" alt="">Consulter les docs</span></a>
                </li>
                <li>
                    <a href="#" class="item"><span><img src="img/icon/modifier.svg" alt="">Editer le cr</span></a>
                </li>
                <li>
                    <a href="#" class="item"><span><img src="img/picto-archive.svg" alt="">Archiver le cr</span></a>
                </li>
            </ul>
        </div>
        <!-- / Menu sidebar -->


        <!-- Modal interruption -->
        <div class="cgu__popup popin interrompre">
            <div class="cgu__popup--container">
                <div class="cgu__popup--content">
                    <div class="title">Interrompre la tranche xxx</div>
                    <!-- Form -->
                    <form class="form-inline" action="">
                        <div class="row items-center input-group">
                            <div class="col-md-4 label">Motif d'interruption</div>
                            <div class="col-md-8">
                                <select class="slim-select2" id="" tabindex="1">
                                    <option>Choix du motif</option>
                                    <option>Homme</option>
                                    <option>Femme</option>
                                    <option>Homme</option>
                                    <option>Femme</option>
                                </select>
                            </div>
                        </div>
                        <div class="row items-center input-group">
                            <div class="col-md-4 label">Date d'interruption</div>
                            <div class="col-md-8">
                                <input class="" type="text" id="aaa" placeholder="_ _ / _ _ / _ _">
                            </div>
                        </div>
                        <div class="row input-group">
                            <div class="col-md-12">
                                <textarea name="1" id="" cols="30" rows="5">Informations complémentaires</textarea>
                            </div>
                        </div>
                        <div class="input-group row">
                            <div class="col-md-12 flex space-between">
                                <p class="btn-green-border btn close">Annuler</p>
                                <button class="submit-form btn-green btn">Interrompre</button>
                            </div>
                        </div>
                    </form>
                    <!-- / Form -->
                </div>
            </div>
        </div>
        <!-- / Modal interruption -->
        <!-- Modal prolonger -->
        <div class="cgu__popup popin prolonger">
            <div class="cgu__popup--container">
                <div class="cgu__popup--content">
                    <div class="title">Prolonger la tranche xxx</div>
                    <!-- Form -->
                    <form class="form-inline" action="">
                        <div class="row items-center input-group">
                            <div class="col-md-4 label">Motif de la prolongation</div>
                            <div class="col-md-8">
                                <select class="slim-select2" id="" tabindex="1">
                                    <option>Choix du motif</option>
                                    <option>Homme</option>
                                    <option>Femme</option>
                                    <option>Homme</option>
                                    <option>Femme</option>
                                </select>
                            </div>
                        </div>
                        <div class="row items-center input-group">
                            <div class="col-md-4 label">Date de la prolongation</div>
                            <div class="col-md-8">
                                <input class="" type="text" id="aaa" placeholder="_ _ / _ _ / _ _">
                            </div>
                        </div>
                        <div class="row input-group">
                            <div class="col-md-12">
                                <textarea name="1" id="" cols="30" rows="5">Informations complémentaires</textarea>
                            </div>
                        </div>
                        <div class="input-group row">
                            <div class="col-md-12 flex space-between">
                                <p class="btn-green-border btn close">Annuler</p>
                                <button class="submit-form btn-green btn">Interrompre</button>
                            </div>
                        </div>
                    </form>
                    <!-- / Form -->
                </div>
            </div>
        </div>
        <!-- / Modal prolonger -->

        
    </div>