<dialog id="window3">
    {#<button id="exit" class="close"></button>#}
    <h2 style="text-align: center">Confirmation d'inscription !</h2>
    <p style="text-align: center">Un mail de validation vous a été envoyé à votre adresse mail
        <br>Merci de bien vouloir confirmer votre inscription.
        <br>Pensez à vérifier vos spams.</p><br><br>
    <button id="exit3" class="fermer3">Fermer</button>
</dialog>
<!-- Apropos -->
<section class="bg-apropos-2 bg-black"  data-aos="fade" data-aos-delay="">
    <div class="container maxwidth ">
        <div class="container-fluid maxwidth padding-top-60 padding-bottom-20">
            <h1 class="lora size50 uppercase white bold-font margin-bottom-30 block text-center" data-aos="fade-down" data-aos-delay="200">Panier</h1>
        </div>
    </div>
</section>
<!-- / Apropos-->

	<!--  Actus -->
	<section class="actus-home padding-top-60 padding-bottom-120">
		<div class="container-fluid maxwidth" >
			<div class="row">
                <div class="col-md-6  padding-left-0">
                    <div class=" padding-bottom-50">
                    
                        <a href="##" class=" hovereffect margin-bottom-10 row border-color-bottom ">
                            <div class="col-md-4 padding-left-0">
                                <img class="block text-center margin-auto " src="/themes/custom/color_vintage/img/kit1.jpg" >
                            </div>
                            <div class="col-md-8">
                                <span class="lora size30 bold-font uppercase lineheight30 block margin-top-30 margin-bottom-20 text-left">Kit professionnel 1</span>
                                <p class=" block  lineheight15 block padding-bottom-30">Comment choisir sa colle pour les extensions de cils ? Il est primordial de bien choisir sa colle pour la...</p>
                                <div class="flex space-between ">
                                    <div class="add"><span>-</span><input type="number" /><span>+</span></div>
                                    <span class="date size30 light-font">000,0€</span>
                                </div>
                            </div>
                        </a>
                        <span class="delete-cart">Retirer du panier</span>
                    </div>
                    <div class=" padding-bottom-50">
                        <a href="##" class=" hovereffect margin-bottom-10 row border-color-bottom ">
                            <div class="col-md-4 padding-left-0">
                                <img class="block text-center margin-auto " src="/themes/custom/color_vintage/img/kit1.jpg" >
                            </div>
                            <div class="col-md-8">
                                <span class="lora size30 bold-font uppercase lineheight30 block margin-top-30 margin-bottom-20 text-left">Kit professionnel 1</span>
                                <p class=" block  lineheight15 block padding-bottom-30">Comment choisir sa colle pour les extensions de cils ? Il est primordial de bien choisir sa colle pour la...</p>
                                <div class="flex space-between ">
                                    <div class="add"><span>-</span><input type="number" /><span>+</span></div>
                                    <span class="date size30 light-font">000,0€</span>
                                </div>
                            </div>
                        </a>
                        <span class="delete-cart">Retirer du panier</span>
                    </div>
                      <div class=" padding-bottom-50">
                            <span class="lora size30 bold-font uppercase lineheight30 block margin-top-30 margin-bottom-20 text-left">Récapitulatif</span>
                            <form class="row">
                                <div class="col-md-6 form-group margin-top-20">
                                    <input type="text" placeholder="Nom" class="form-control" id="name">
                                </div>
                                <div class="col-md-6 form-group margin-top-20">
                                    <input type="text" placeholder="Prénom" class="form-control" id="lastname">
                                </div>
                                <div class="col-md-6 form-group margin-top-20">
                                    <input type="email" placeholder="Adresse mail" class="form-control" id="email">
                                </div>
                                <div class="col-md-6 form-group margin-top-20">
                                    <input type="tel" placeholder="Téléphone" class="form-control" id="phone">
                                </div>
                                <div class="col-md-12 form-group margin-top-20">
                                    <input type="text" placeholder="Adresse" class="form-control" id="adress">
                                </div>
                                <div class="col-md-12 form-group margin-top-20">
                                    <input type="text" placeholder="Complément d'adresse" class="form-control" id="adress_plus">
                                </div>
                                <div class="col-md-6 form-group margin-top-20">
                                    <input type="text" placeholder="Code postal" class="form-control" id="postal">
                                </div>
                                <div class="col-md-6 form-group margin-top-20">
                                    <input type="text" placeholder="Ville" class="form-control" id="ville">
                                </div>
                                <div class="col-md-6 form-group margin-top-20">
                                    <input type="checkbox" id="other_adress" name="subscribe" value="newsletter">
                                    <label for="subscribeNews">Expédier la facture à une autre adresse</label>
                                </div>
                                <div class="col-md-12 form-group margin-top-20">
                                    <button href="##" class="connexion">Valider ma commande</button>
                                </div>
                            </form>
                        </div>
                         <div class=" padding-bottom-50">
                            <span class="lora size30 bold-font uppercase lineheight30 block margin-top-30 margin-bottom-20 text-left">Paiement</span>
                            <form class="row">
                                <div class="col-md-9 form-group margin-top-20">
                                    <input type="text" placeholder="Numéro de carte" class="form-control" id="carte">
                                </div>
                                <div class="col-md-3 form-group margin-top-20">
                                    <input type="text" placeholder="MM / AA CVC" class="form-control" id="expire">
                                </div>
                                <div class="col-md-6 form-group margin-top-20">
                                    <input type="checkbox" id="other_adress" name="subscribe" value="newsletter">
                                    <label for="subscribeNews">J’accepte les <a href="##">Conditions générales de vente</a></label>
                                </div>
                                <div class="col-md-12 form-group margin-top-20">
                                    <button href="##" class="connexion">Payer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                <div class="col-md-4 offset-md-2 bg-grey-clair padding-30">
                    <span class="lora size30 bold-font uppercase lineheight30 block margin-top-30 margin-bottom-20 text-left">Récapitulatif</span>
                    <br>
                    <div class="flex space-between  margin-bottom-10">
                        <div>Kit professionnel 1<strong>x1</strong></div>
                        <div>000,00 €</div>
                    </div>
                    <div class="flex space-between  margin-bottom-10">
                        <div>Kit professionnel 2<strong>x2</strong></div>
                        <div>000,00 €</div>
                    </div>
                    <hr class="hr-degrad margin-top-30 margin-bottom-30">
                    <div class="flex space-between  margin-bottom-10">
                        <div>Frais de livraison</div>
                        <div>000,00 €</div>
                    </div>
                     <hr  class="hr-degrad margin-top-30 margin-bottom-30">
                    <div class="flex space-between bold  margin-bottom-10">
                        <div>TOTAL</div>
                        <div>000,00 €</div>
                    </div>
                    <button class="connexion">Passer la commande </button>
                   
                </div>
            </div>
		</div>
	</div>
	</section>
	<!--  / Actus -->