<!-- Apropos -->
<section class="bg-apropos-2 bg-black"  data-aos="fade" data-aos-delay="">
  <div class="container maxwidth ">
    <div class="container-fluid maxwidth padding-top-60 padding-bottom-20">
      <h1 class="lora size50 uppercase white bold-font margin-bottom-30 block text-center" data-aos="fade-down" data-aos-delay="200">
        {{ label }}</h1>
    </div>
  </div>
</section>
<!-- / Apropos-->


<!--  Actus -->
{{ drupal_entity('block', 'kitsblock') }}
<!--  / Actus -->

